@(student: Student)

<div class="row">
    <div class="span2">
      Image will be posted here.
    </div>
    <div class="span7">
      <h3>@student.family_name_en, @student.name_en (@student.family_name_ko @student.name_ko)</h3>
      @if(student.isAlumni) {
        <b>Employee at @student.company</b><br>
      }
      <i class="icon-envelope"></i><b>@student.email</b>      
      <h4>Research Areas</h4>
      <ul>
        @for(area <- student.researchAreas){
          <li>@area.name</li>
        }
      </ul>
      <h4>Publications</h4>
      <ul>
        <li>Will be updated...</li>
      </ul>
    </div>
</div>