@(title: String, courses: List[Course])

@course_mgmt_layout(title){
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Course Name</th>
        <th>Course ID</th>
        <th>Year</th>
        <th>Semester</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for(course <- courses){
        <tr>
          <td>@course.name</td>
          <td>@course.courseId</td>
          <td>@course.year</td>
          <td>@course.semester</td>
          <td><a href="@routes.CourseMgmt.courseDetail(course.id, title)" class="btn">Edit</a></td>
        </tr>
      }
    </tbody>
  </table>
}<br>'