@(title: String, student: Form[Student])

@people_mgmt_layout(title){
  <div class="well">
    <form action="@routes.PeopleMgmt.saveStudentDetail(student("id").value.toLong)" class="form-horizontal" method="post" id="saveBasicInfo">
      <fieldset>
        <legend><strong>Basic Information</strong></legend>
        <br>
        <div class="span5">
          <div class="control-group">
            <label class="control-label" for="family_name_en">Family Name (en)</label>
            <div class="controls">
              <input type="text" value="@student("family_name_en").value" name="family_name_en">
            </div>
          </div>
          
          <div class="control-group">
            <label class="control-label" for="name_en">Name (en)</label>
            <div class="controls">
              <input type="text" value="@student("name_en").value" name="name_en">
            </div>
          </div>
          
          <div class="control-group">
            <label class="control-label" for="family_name_ko">Family Name (ko)</label>
            <div class="controls">
              <input type="text" value="@student("family_name_ko").value" name="family_name_ko">
            </div>
          </div>
          
          <div class="control-group">
            <label class="control-label" for="name_ko">Name (ko)</label>
            <div class="controls">
              <input type="text" value="@student("name_ko").value" name="name_ko">
            </div>
          </div>
          
          <div class="control-group">
            <label class="control-label" for="email">E-Mail</label>
            <div class="controls">
              <input type="text" value="@student("email").value" name="email">
            </div>
          </div>
        </div>
        
        <div class="span5">
        
          <div class="control-group">
            <label class="control-label" for="degree">Degree</label>
            <div class="controls">
              <select name="degree">
                <option @if(student("degree").value.equals("Ph.D")){selected}>Ph.D</option>
                <option @if(student("degree").value.equals("Master")){selected}>Master</option>
              </select>
            </div>
          </div>
          
          <div class="control-group">
            <label class="control-label">Is Alumni?</label>
            <div class="controls">
              <label class="radio inline">
                <input type="radio" name="isAlumni" id="isAlumni" @if(student("isAlumni").value.equals("true")){checked} value="true">
                Yes
              </label>
              <label class="radio inline">
                <input type="radio" name="isAlumni" id="isAlumni" @if(student("isAlumni").value.equals("false")){checked} value="false">
                No
              </label>
            </div>
          </div>  
          
          <div class="control-group" id="company">
            <label class="control-label" for="company">Company</label>
            <div class="controls">
              <input type="text" value="@student("company").value" name="company">
            </div>
          </div>
          
          <div class="control-group">
            <label class="control-label" for="begin_date"></label>
            <div class="controls">
              <input type="text" value="@student("begin_date").value.format("dd/mm/yy")" name="begin_date" id="begin_date">
              <i><font color="red">date format: YYYY-MM-DD</font></i>
            </div>
          </div>
          
          <div class="control-group">
            <label class="control-label">Research Areas
              [<a href="@routes.PeopleMgmt.researchAreas(student("id").value.toLong, title: String)"><font color="red">modify</font></a>]
            </label>
            <div class="controls">
              @for(researchArea <- student("researchAreas").indexes) {
                <ul>
                  <li>@student("researchAreas["+researchArea+"].name").value</li>
                </ul>
              }
            </div>
          </div>
          
        </div>
        
        <div class="span2"></div>
        <div class="span6">
          <button class="btn btn-primary btn-block" id="save">Save</button>
        </div>
        <div class="span2"></div>
        
      </fieldset>
    </form>
  </div>
  
  <script>
    function check_alumni() {
      var isAlumni = $('input:radio[name=isAlumni]:checked').val(); 
      if(isAlumni == "true") {
        $('label.control-label[for=begin_date]').html("Graduation date");
        $('#company').show();
      } else {
        $('label.control-label[for=begin_date]').html("Entrance date");
        $('#company').hide();
      }
    }
    
    $(document).ready(function(){
      check_alumni();
      $('#begin_date').datepicker();
      $('input:radio[id=isAlumni]').change(function(){check_alumni();});
    })
  </script>
}