@if(flash.containsKey("error")) {
  <div class="alert alert-error">
    <a class="close" data-dismiss="alert">x</a>
    <strong>Error!</strong> @flash.get("error")
  </div>
}

@if(flash.containsKey("success")) {
  <div class="alert alert-success">
    <a class="close" data-dismiss="alert">x</a>
    <strong>Success!</strong> @flash.get("success")
  </div>
}

@if(flash.containsKey("info")) {
  <div class="alert alert-info">
    <a class="close" data-dismiss="alert">x</a>
    <strong>Info</strong> @flash.get("info")
  </div>
}