@(student: Form[Student])
<fieldset>
  <legend><strong>Research Areas</strong></legend>
  @for(researchArea <- student("researchAreas").indexes) {
    <ul>
      <li>@student("researchAreas["+researchArea+"].name").value
        [<a name="researchAreas" id="@student("researchAreas["+researchArea+"].id").value"><font color="red">delete</font></a>]
      </li>
    </ul>
  }
</fieldset>

<script>
  $(document).ready(function() {
    $('a[name=researchAreas]').click(function(){
      
      $.ajax({
        type: 'POST',
        data: {id: @student("id").value.toLong, researchAreaId: $(this).attr('id')},
        success: function() {
          alert("success");
        },
        error: function() {
          alert("error");
        } 
      });
          
    });
  })
  
</script>