@(title: String)

@layout(title) {
    <div class="row-fluid">
      <div class="container">
	    <div class="span12">
	      <div class="hero-unit">
	        <div class="row-fluid">
	          <div class="span6">
	            <h1>SA Lab. &#64; KAIST</h1>
	            <h3>The Academic Laboratory<br>
	             Research on Software Architecture</h3>  
	          </div>
	          <div class="span6">
	            <p> picture will be posted on this place </p>
	          </div>
	        </div>
	      </div>
	    </div>    
      </div>
    </div>
    
    <div class="row-fluid">
      <div class="container">
        <div class="span8">
          <h3>Introduction</h3>
          <p>   Software architecture is now understood by many as the center around which the whole software development should be carried out for efficient development of high quality software. For that, however, there should be many accompanying methods and techniques that enable utilization of software architecture.</p>
          <p>  The central areas of interest of Software Architecture Lab, therefore, include practical and rigorous architecture description languages, analysis and reasoning techniques at the software architecture level and automation and verification methods for architecture-driven software development.</p>
        </div>
        <div class="span4">
          <h3>Research Areas</h3>
          <ul>
            <li>Software Architecture</li>
            <li>Software Product Line</li>
            <li>Enterprise Architecture</li>
            <li>Software Testing</li>
            <li>Model-Driven Development</li>
            <li>Formal Methods</li>
            <li>Service-Oriented Architecture</li>
          </ul>
          
        </div>
      </div>
    </div>
}