<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button"class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <!-- 홈으로~!! -->
      <div class="nav pull-left">
        <a class="brand" href="@routes.Application.index()">SA Lab</a>
      </div>
      
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="#">Introduction</a></li>
          <li><a href="@routes.PeopleCtrl.professor()">People</a></li>
          <li><a href="#">Courses</a></li>
          <li><a href="#">Publications</a></li>
          <li><a href="#">Research</a></li>
          <li><a href="#">Links</a></li>
          <li><a href="#">Lab Events</a></li>
        </ul>
        <ul class="nav pull-right">
          <li><a href="#">Login</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
